{% if page.header.overlay_color %}
  {% capture overlay_style %}background-color: {{ page.header.overlay_color | default: "#000" }};{% endcapture %}
{% elsif page.header.overlay_image %}
  {% capture overlay_style %}background-image: url('{{ page.header.overlay_image | relative_url }}');{% endcapture %}
{% endif %}

{% if page.header.overlay_filter contains "gradient" %}
  {% capture overlay_filter %}{{ page.header.overlay_filter }}{% endcapture %}
{% elsif page.header.overlay_filter %}
  {% capture overlay_filter %}linear-gradient(rgba(0, 0, 0, {{ page.header.overlay_filter }}), rgba(0, 0, 0, {{ page.header.overlay_filter }})){% endcapture %}
{% endif %}

<div class="page__hero--overlay"
  style="{{ overlay_style }} {% if overlay_filter %}background-image: {{ overlay_filter }}, url('{{ page.header.overlay_image | relative_url }}');{% endif %} background-size: cover; background-position: center;"
>
  {% if page.header.image_description %}
    <img src="{{ page.header.overlay_image | relative_url }}" alt="{{ page.header.image_description }}" style="display:none;">
  {% endif %}
  <div class="wrapper">
    <h1 id="page-title" class="page__title" itemprop="headline">
      {% if paginator and site.paginate_path %}
        {{ site.title }}
      {% else %}
        {{ page.title | default: site.title | markdownify | remove: "<p>" | remove: "</p>" }}
      {% endif %}
    </h1>
    {% if page.tagline %}
      <p class="page__lead">{{ page.tagline | markdownify | remove: "<p>" | remove: "</p>" }}</p>
    {% elsif page.header.show_overlay_excerpt != false and page.excerpt %}
      <p class="page__lead">{{ page.excerpt | markdownify | remove: "<p>" | remove: "</p>" }}</p>
    {% endif %}
    {% include page__meta.html %}
    {% if page.header.cta_url %}
      <p><a href="{{ page.header.cta_url }}" class="btn btn--light-outline btn--large">{{ page.header.cta_label | default: site.data.ui-text[site.locale].more_label | default: "Learn More" }}</a></p>
    {% endif %}
  </div>
</div>
